.sale-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:2rem;
    margin: 20px;
    background-color: antiquewhite;
    border-radius: 10px;
}
.product-img img{
    max-width: 80%;
    padding: 10px;
}
.sale-info{
    text-align: center;
}
.sale-info h2{
    font-size: 2rem;
    color: #3b3434;
}
.countdown-message{
    font-size: 1.2rem;
    color: #7a7575;

}
.countdown-timer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.timer{
    background-color: #e1dfdf;
    padding: 30px;
    margin: 30px;
    border-radius: 5px;
}
.timer h2{
    font-size: 1rem;
    color:#3b3434
}
.timer span{
    font-size: 12px;
    color:rgb(106, 97, 97);
}
.buy-now{
    padding: 10px;
    margin: 20px;
    background-color: rgb(113, 179, 113);
    color: #fff;
    border: none;
    text-align: center;
    cursor: pointer;
}
.buy-now:hover{
    background-color:rgb(36, 150, 36); ;
}